<template name="addGoal">
  <form class="modal fade small" id="addGoalForm">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3>Add Team Goal</h3>
    </div>
    <div class="modal-body">
      <div class="alert alert-error hide" id="goalErrors">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <span class="message"></span>
      </div>
      <input type="text" id="goalText" placeholder="Make a website" />
    </div>
    <div class="modal-footer">
      <a href="#" class="btn" data-dismiss="modal">Close</a>
      <a href="#" class="btn btn-primary" id="addGoalBtn">Add</a>
    </div>
  </form>
</template>


