<template name="showTeam">
  <h1>
    {{team.name}}
  </h1>
  <div class="row-fluid">
    <div class="span6">
      <h2>
        Members
        <input type="button" value="Invite" id="inviteMembers" />
      </h2>
      {{#each members}}
        <p>
          {{#if name}}{{name}}{{else}}{{username}}{{/if}}
        </p>
      {{else}}
        <p>No team members yet. Invite some!</p>
      {{/each}}
    </div>
    <div class="span6">
      <h2>
        Goals
        <input type="button" value="Add" id="addGoal" />
      </h2>
      {{#each team.goals}}
      {{else}}
        <p>No goals yet. Add some!</p>
      {{/each}}
    </div>
  </div>
</template>

