<template name="yourTeams">
  <h1>
    Your Teams
    <input type="button" value="Add a Team" class="createTeamBtn" />
  </h1>
  {{#each teams}}
    <div class="row-fluid">
      <div class="span12 team">
        <a href="/teams/{{_id}}">{{name}}</a>
        <button type="button" class="close deleteTeam" aria-hidden="true">&times;</button>
      </div>
    </div>
  {{else}}
    <div class="row-fluid">
      <div class="span12">
        <div class="alert alert-message">
          <span class="message">You don't belong to any teams yet. Why not <a href="javascript:void(0);" class="createTeamBtn">create one</a>?</span>
        </div>
      </div>
    </div>
  {{/each}}
</template>
