<template name="createTeam">
  <div class="modal fade small" id="createTeamModal">
    <div class="modal-header">
      <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
      <h3>Add a Team</h3>
    </div>
    <div class="modal-body">
      <input type="text" id="createTeamField" placeholder="Team Name" />
    </div>
    <div class="modal-footer">
      <a href="#" class="btn">Close</a>
      <a href="#" class="btn btn-primary addTeamBtn">Add</a>
    </div>
  </div>
</template>
