<template name="yourTeams">
  <h1>
    Your Teams
    <input type="button" value="Add a Team" id="createTeam" />
    <input type="button" value="Join a Team" id="joinTeam" />
  </h1>
  {{#each teams}}
    <div class="row-fluid">
      <div class="span12 team">
        <a href="#">{{name}}</a>
        <button type="button" class="close deleteTeam" aria-hidden="true">&times;</button>
      </div>
    </div>
  {{else}}
    <div class="row-fluid">
      <div class="span12">You don't belong to any teams yet!</div>
    </div>
  {{/each}}
</template>
